---
---

<button class="button"><slot /></button>

<style>
    .button {
        color: var(--color-button-text);
        font-family: var(--font-family-sans);
        font-size: 1rem;
        width: 10ch;
        height: 2rem;
        border-radius: 4px;
        outline: 2px solid var(--color-button-outline);
        border-style: none;
    }
</style>
