---
import brandLogo from '../assets/logo.png'
---

<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarTogglerDemo01"
            aria-controls="navbarTogglerDemo01"
            aria-expanded="false"
            aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="mobile-navbar-brand" href="#"
            ><img src={brandLogo} alt="Symslink Logo" /></a
        >
        <div class="mobile-navlink-search">
            <svg
                xmlns="http://www.w3.org/2000/svg"
                width="17.999"
                height="18.002"
                viewBox="0 0 17.999 18.002"
            >
                <path
                    id="Icon_awesome-search"
                    data-name="Icon awesome-search"
                    d="M17.754,15.564l-3.505-3.505a.843.843,0,0,0-.6-.246h-.573a7.309,7.309,0,1,0-1.266,1.266v.573a.843.843,0,0,0,.246.6l3.505,3.505a.84.84,0,0,0,1.192,0l.995-.995a.848.848,0,0,0,0-1.2ZM7.312,11.812a4.5,4.5,0,1,1,4.5-4.5A4.5,4.5,0,0,1,7.312,11.812Z"
                    fill="#3e3e3e"></path>
            </svg>
        </div>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <a class="desktop-navbar-brand" href="#"
                ><img src={brandLogo} alt="Symslink Logo" /></a
            >
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a
                        class="nav-link dropdown-toggle"
                        href="#"
                        role="button"
                        data-bs-toggle="dropdown"
                        aria-expanded="false"
                    >
                        About Us
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Our Story</a></li>
                        <li>
                            <a class="dropdown-item" href="#">Our Vision</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">News</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Career</a>
                </li>
            </ul>
            <div class="mobile-social-media__wrapper">
                <div>
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="16"
                        height="16"
                        fill="currentColor"
                        class="bi bi-facebook"
                        viewBox="0 0 16 16"
                    >
                        <path
                            d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951z"
                        ></path>
                    </svg>
                </div>
                <div>
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="16"
                        height="16"
                        fill="currentColor"
                        class="bi bi-youtube"
                        viewBox="0 0 16 16"
                    >
                        <path
                            d="M8.051 1.999h.089c.822.003 4.987.033 6.11.335a2.01 2.01 0 0 1 1.415 1.42c.101.38.172.883.22 1.402l.01.104.022.26.008.104c.065.914.073 1.77.074 1.957v.075c-.001.194-.01 1.108-.082 2.06l-.008.105-.009.104c-.05.572-.124 1.14-.235 1.558a2.007 2.007 0 0 1-1.415 1.42c-1.16.312-5.569.334-6.18.335h-.142c-.309 0-1.587-.006-2.927-.052l-.17-.006-.087-.004-.171-.007-.171-.007c-1.11-.049-2.167-.128-2.654-.26a2.007 2.007 0 0 1-1.415-1.419c-.111-.417-.185-.986-.235-1.558L.09 9.82l-.008-.104A31.4 31.4 0 0 1 0 7.68v-.123c.002-.215.01-.958.064-1.778l.007-.103.003-.052.008-.104.022-.26.01-.104c.048-.519.119-1.023.22-1.402a2.007 2.007 0 0 1 1.415-1.42c.487-.13 1.544-.21 2.654-.26l.17-.007.172-.006.086-.003.171-.007A99.788 99.788 0 0 1 7.858 2h.193zM6.4 5.209v4.818l4.157-2.408L6.4 5.209z"
                        ></path>
                    </svg>
                </div>
            </div>
            <div class="desktop-navlink-search">
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="17.999"
                    height="18.002"
                    viewBox="0 0 17.999 18.002"
                >
                    <path
                        id="Icon_awesome-search"
                        data-name="Icon awesome-search"
                        d="M17.754,15.564l-3.505-3.505a.843.843,0,0,0-.6-.246h-.573a7.309,7.309,0,1,0-1.266,1.266v.573a.843.843,0,0,0,.246.6l3.505,3.505a.84.84,0,0,0,1.192,0l.995-.995a.848.848,0,0,0,0-1.2ZM7.312,11.812a4.5,4.5,0,1,1,4.5-4.5A4.5,4.5,0,0,1,7.312,11.812Z"
                        fill="#3e3e3e"></path>
                </svg>
            </div>
        </div>
    </div>
</nav>

<style>
    .navbar {
        width: 100%;
        max-width: var(--layout-max-width);
        margin: 0 auto;
        position: relative;
        background-color: #fff;
        padding: 0;
    }

    .container-fluid {
        padding: 0;
        justify-content: space-around;
    }

    .navbar-collapse::before {
        content: '';
        width: 196px;
    }

    .navbar-collapse {
        background-color: var(--color-turqoise);
    }
    .navbar-nav li {
        padding: 0.5rem 0;
        padding-left: 1rem;
    }

    .navbar-nav li:hover {
        background-color: #0857a1;
        color: white;
    }

    .navbar-nav li:hover a {
        color: white;
    }

    .mobile-navbar-brand {
        height: 80px;
    }

    .mobile-navbar-brand > img {
        height: 100%;
    }

    .mobile-navlink-search {
        padding: 0 1rem;
    }

    .mobile-social-media__wrapper {
        display: flex;
        padding-left: 1rem;
        gap: 1rem;
        margin-bottom: 1rem;
    }

    .mobile-social-media__wrapper svg {
        width: 25px;
        height: 25px;
    }

    .dropdown-menu {
        --bs-dropdown-bg: #0857a1;
        --bs-dropdown-link-hover-bg: #6e98bf;
        --bs-dropdown-link-hover-color: #fff;
        --bs-dropdown-link-color: #fff;
        --bs-dropdown-border-color: none;
    }

    .dropdown-menu li {
        padding-left: 0rem;
    }

    .desktop-navbar-brand {
        display: none;
    }

    .desktop-navlink-search {
        display: none;
    }

    @media (min-width: 990px) {
        .container-fluid {
            --bs-gutter-x: 4rem;
            padding-right: calc(var(--bs-gutter-x) * 0.5);
            padding-left: calc(var(--bs-gutter-x) * 0.5);
        }
        .mobile-navbar-brand {
            display: none;
        }

        .mobile-navlink-search {
            display: none;
        }

        .navbar {
            background-color: var(--color-turqoise);
        }

        .navbar-nav {
            margin-left: 2rem;
            gap: 2rem;
        }

        .navbar-nav li {
            padding-left: 0;
        }

        .desktop-navbar-brand {
            display: block;
            position: absolute;
            bottom: -5px;
        }

        .desktop-navlink-search {
            background-color: white;
            width: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 5px 0;
            height: 40px;
        }

        .mobile-social-media__wrapper {
            display: none;
        }
    }
</style>
